body{
    background-color: black;
    color: #fb0; /* fb0 */
}

#datebox{
    margin-top:5em;
}

h1{
    font-size: 8em;
    text-align:center;

    margin: auto auto;
    text-shadow: 0 0 0.8rem #fa0; /* fa0 */
    vertical-align:middle;
    
}
#date{
    font-size:3em;
}














/* end */
