body{
    background-color: black;
    color: #fc3; /* fb0 */
}

#datebox{
    margin-top:5em;
}

h1{
    font-size: 22em;
    text-align:center;

    margin: auto auto;
    text-shadow: 0 0 1.2rem #fb0; /* fa0 */
    vertical-align:middle;
    
}
#date{
    font-size:10em;
}














/* end */
