@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
body{
    font-family: 'Share Tech Mono', monospace;
    background-color: black;
    color: #fc3; /* fb0 */
}

#datebox{
    margin-top:5em;
}

h1{
    font-size: 21em;
    text-align:center;

    margin: auto auto;
    text-shadow: 0 0 2rem #fb0; /* fa0 */
    vertical-align:middle;
    
}
#date{
    font-size:10em;
}














/* end */
